[2015-03-11 23:33] caseyWebb opened #1 "Clicking a link for the page you are currently on does not prevent default"

[2015-03-13 05:43] caseyWebb commented on #1
closed via 2522bf3e11c20783a6284756cff818bd20c5b84c

[2015-03-13 05:43] #1 closed, assigned to caseyWebb

[2015-03-17 17:12] dylanorgeron opened #2 "Clicking an anchor tag with no href property causes JS error"
Uncaught TypeError: Cannot read property 'split' of null

[2015-05-05 01:22] Jared314 opened #3 "Navigating to the same route with different route params does not update the component"
I have a route with an `:id` parameter.

[code]

The initial request correctly initializes `ComponentA` with the route parameters, but navigating to `/a/2` while on `/a/1` does not force the component to update.

[2015-05-20 04:48] caseyWebb commented on #3
I've looked in to this, but I'm not sure the best way to go about it. In one case, we could reinitialize the entire component on on route change, or we could make the route params observable and react in the viewModel.

What is your use case?

[2015-05-22 18:31] Jared314 commented on #3
In this case, it's a page with a search box in the header and the page content as the search result item detail view.

The user can be on a `/a/:id` url and then navigate to another `/a/:id` url, with a different id.

I worked around the issue by reinitializing the entire component (moving [viewModel.coffee#L22](https://github.com/caseyWebb/ko-component-router/blob/master/src/lib/component/viewMod

[2015-06-01 23:57] caseyWebb commented on #3
It's not preferable, but for now, you can subscribe to `ko.router.current` which contains the route params. I should have some more time to work on the router shortly, but that might be able to hold you over.

[2015-08-20 23:28] caseyWebb commented on #2
Fixed in v2.

**caveat:** anchors without an anchor tag are invalid HTML and will cause unexpected behavior in some browsers. mobile safari, in particular. recommended practice is `href="#"`

[2015-08-20 23:28] #2 closed, assigned to nobody

[2015-09-03 23:55] caseyWebb commented on #3
Closing as this is something that should be handled by subscribing to `ctx`

[2015-09-03 23:55] #3 closed, assigned to nobody

[2015-11-11 20:15] carlosagsmendes opened #8 "Nested Routing"
Hi @caseyWebb,

I was looking for a router to use with Knockout and found your project.

I need to support nested / child routing [similar to what is available in Aurelia](http://aurelia.io/get-started.html).

Are you still planning to include this feature?

I would be only too glad to contribute with some code.

Thanks in advance.

[2015-11-11 20:32] caseyWebb commented on #8
I absolutely want to implement nested routing, I just haven't had the opportunity to work on it yet, and I'm not sure of the best way to design the API for it. I've considered changing the api so that routes are passed into the component rather than registered globally with `ko.router.route`. This would allow a more modular approach, as components could have their own nested routers very, very eas

[2015-11-11 23:15] carlosagsmendes commented on #8
I really like Aurelia's modular approach.

Each component can implement a _configureRouter_ callback in order to have its 'own' router.

Here's an example from their getting started page:

[code]

Therefore each child router can be modular keeping its own configuration. In Aurelia, they also use the callback to create a _router_ property in the viewmodel in order to make the child router available

[2015-11-13 19:05] caseyWebb commented on #8
doh! apparently I typed out a response and forgot to submit it... my apologies.

I was thinking something similar to that, but a bit more explicit (I'm not a fan of lifecycle callbacks and "magic" named functions).

Here is — roughly — what I had in mind:

[code]

[code]

[2015-11-13 19:05] caseyWebb commented on #8
Hopefully that makes sense.

[2015-11-16 09:44] carlosagsmendes commented on #8
It looks great.

Just to confirm, in this case we need to replicate the whole route in the child routers, i.e.: the child routes are not relative to the main router, right?

[code]

[2015-11-16 22:34] caseyWebb commented on #8
Ideally I'd like the routers to use the base path that is present in the url when they are rendered, but I feel like that could potentially cause unforeseen issues.

[2015-11-18 12:02] b12k opened #9 "Not able to instantiate router"
Hello. Can you, please, guide me how to instantiate a router.
Here is very simple example of my playground:

index.html

[code]

app.js

[code]

I have a local server with "ko-router.dev" URI.
Well it does nothing actually.

Thanx in advance for help.

BTW: I think you have a mistake in basic usage docs -> 'Hello' vs 'Home'

[2015-11-18 17:46] caseyWebb commented on #9
try moving the `ko.components.register` above `ko.router` lines.

Thanks for pointing out the typo :+1:

[2015-11-18 17:47] caseyWebb commented on #9
I see the confusion w/ the docs regarding the order of the code. I've really been meaning to write a blog post on how we use knockout + webpack/browserify for modular Knockout SPA goodness.

[2015-11-20 09:04] b12k commented on #9
Unfortunately it doesn't work.

[code]

Can you, please, provide a working example?

[2015-11-29 16:27] B3rn475 commented on #9
add

ko.applyBindings();

after

ko.router.start();

[2015-12-05 00:39] caseyWebb commented on #8
I'm working on this in the little bit of spare time I have, but there is some progress coming along in the `3.0-pre` branch.

This is still under heavy development, and a lot of things are straight broken or missing.

[2015-12-20 20:30] caseyWebb commented on #8
@carlosagsmendes, `3.0-pre` is running [here](https://caseyWebb.github.io/ko-component-router/). I haven't written tests yet, but it seems to be mostly stable as of now. I'll be working on tests this week, hopefully pushed to master by the end of the year.

[2015-12-20 21:07] carlosagsmendes commented on #8
Thank you for the update @caseyWebb. I'll definitively save some time to test it. The documentation website looks great.

[2015-12-30 11:38] carlosagsmendes commented on #8
Hello @caseyWebb ,

I finally got some time to test it but I can't get it to work.

Can you take a look at the following code to see if I'm missing something?

`ko-component-router` is the version from 3.0-pre

[code]

[2015-12-30 18:53] carlosagsmendes commented on #8
Apparently the issue is related to importing ko-component-router as a dependency with JSPM. It worked for the previous version so I will try to figure out why is not working now. Cheers

[2016-01-04 15:22] carlosagsmendes commented on #8
Hi @caseyWebb,

v3 looks great.

I don't know why but your sample/documentation site is not working on mobile browsers.

Also I can't get the `path` binding to work. Any suggestion?

[code]

Thanks again

[2016-01-05 18:41] carlosagsmendes commented on #8
I tested it with the 3 rc version and the path binding is still not working for me (it just links to #). Navigation links on the mobile site are now working on mobile devices. Thks

[2016-01-05 19:41] caseyWebb commented on #8
@carlosagsmendes glad to hear you got it working w/ jspm & it's working on mobile again for you.

Can you try latest from `master` and let me know if the path binding still isn't working for you?

[2016-01-05 19:41] caseyWebb commented on #8
I believe [this line](https://github.com/caseyWebb/ko-component-router/blob/master/src/binding.js#L36) should fix the issue. It allows adjacent routers to initialize before attempting to access a non-existent `$router` property

[2016-01-05 21:50] caseyWebb commented on #9
please see the example site and docs for the newly published v3 and re-open if necessary

[2016-01-05 21:50] #9 closed, assigned to nobody

[2016-01-05 21:51] caseyWebb commented on #8
@carlosagsmendes I'm going to close this issue, but if you're still experiencing problems w/ the latest re: the path binding, please open a new issue for it.

cheers,
casey

[2016-01-05 21:51] #8 closed, assigned to nobody

[2016-01-12 16:26] carlosagsmendes opened #14 "Nested-Routing navigation"
Hi @caseyWebb,

Is there a way to navigate programmatically from within a child-router to a route in the parent?

Considering the nested-routing sample, if I'm inside the `foo` component, how can I use the `update` function to navigate back to the base `nested-routing` page? When I try it I get a false so I assume it is not finding path in the parent router.

Thanks in advance

[2016-01-15 23:09] caseyWebb commented on #14
I'm working on an update which will bubble calls to `update` up through the parent routers until it finds a match; that should solve this issue.

Thanks for using the router and giving consistent input; it's super appreciated.

[2016-01-15 23:27] caseyWebb opened #16 "feature: `preserveState` && `preserveQuery` options"
Would prevent clearing the state and/or query object(s) when the route is navigated away from. This could be useful when using the router for displaying tabs of data.

Given the following example...

[code]

[code]

Navigating to `/foo` the first time should perform the ajax request & save the state, you should then be able to navigate to `/bar`, and then back to `/foo` and restore the viewmodel f

[2016-01-15 23:31] caseyWebb commented on #14
The parent router should also attach itself to `ctx.$root.$router` so that app partials like navs, headers, etc. can use `ctx.update` and the `path` binding.

[2016-01-16 00:18] caseyWebb commented on #14
As of v3.2.3 you can use `ctx.update` — and the `path` binding which calls `ctx.update` behind the scenes — bubbles it's 404s up to parent routers. When the parent router is hit if no route is matched, the page navigates away.

[2016-01-16 00:18] #14 closed, assigned to nobody

[2016-01-16 03:59] caseyWebb commented on #16
in v3.3.0

[2016-01-16 03:59] #16 closed, assigned to nobody

[2016-01-19 10:16] carlosagsmendes opened #17 "How to catch non-existent routes"
Hi @caseyWebb,

I'm trying to figure out how to catch non-existent routes errors.

If the user sets an url with a route that doesn't exist, I would like to catch that error and show him a message.

Currently when the user navigates to a unknown route I get the following error:

[code]

Thanks

[2016-01-19 16:22] caseyWebb commented on #17
use a wildcard route, i.e. something like

[code]

[2016-01-22 14:17] carlosagsmendes commented on #17
Thanks. Any change of capturing a not found event?

[2016-01-27 10:36] carlosagsmendes opened #20 "Router isNavigating"
Hi @caseyWebb,

I need to block some UI actions while navigation is in progress. Would you consider adding a isNavigating property to the router?

I think I may be able to do it with the in and out transitions but this would be cleaner.

Thanks in advance

[2016-01-27 10:37] carlosagsmendes opened #21 "Nested routing demo"
Hi @caseyWebb ,

the Nested Routing demo is not working for more than one level.

When we click 'foo-ception' on the second nested router it still shows the 'foo' tab

https://caseywebb.github.io/ko-component-router/#!/nested-routing/fooception/foo?1%2Ffooception%5Bfoo%5D=dis&2%2Ffoo%5Bfoo%5D=nisl

[2016-02-09 17:01] carlosagsmendes opened #22 "Issues with no hashbang in 3.6 onwards"
Hi @caseyWebb,

Even when I set hashBang to false it continues to be added to the URL.

https://github.com/caseyWebb/ko-component-router/blob/master/src/context.js#L205

Thanks in advance

[2016-02-16 04:53] caseyWebb commented on #22
Fixed. Sorry about the delay.

[2016-02-16 04:53] #22 closed, assigned to nobody

[2016-02-16 18:09] caseyWebb commented on #20
Would [deferred updates](http://knockoutjs.com/documentation/deferred-updates.html) solve this? W/ `deferUpdates = true` the navigation occurs in a single batch.

I'm not opposed to adding `isNavigating`, but the above might accomplish the same with better perf

[2016-02-16 18:12] carlosagsmendes commented on #20
Sounds good. I think there were some performance problems with deferred updates on KO 3.4 but they are about to release 3.4.1 which includes the [fix](https://github.com/knockout/knockout/commit/241c26ca82e6e4b3eaee39e3dc0a92f85bc1df0c)

Thank you

[2016-02-23 15:42] #20 closed, assigned to nobody

[2016-02-24 08:36] caseyWebb commented on #17
Could you elaborate on what you mean?

[2016-02-24 09:37] carlosagsmendes commented on #17
I was considering showing a popup message to the user if he tries to navigate to a route that is not found.  Does this make sense or is it better to always send him to the not found template?

[2016-02-24 09:41] caseyWebb commented on #17
Oh, just add a viewmodel! The 404 component is just another route; I omitted a viewmodel for the sake of brevity.

[2016-02-24 10:54] carlosagsmendes commented on #17
Thank you @caseyWebb. That will work fine

[2016-02-24 10:54] #17 closed, assigned to nobody

[2016-02-29 22:31] carlosagsmendes opened #27 "Cannot read property 'children' of undefined"
Hi @caseyWebb, the latest version has an error in the function `waitForReady` in the following condition:
`if (el.children.length > 0)`

Please take a look at the console using the following example:

http://codepen.io/carlosagsmendes/pen/BKyWRd?editors=1010

Thanks in advance

[2016-03-01 17:24] barsh opened #28 "allow numeric value assigments in path binding and ko.router.update"
[code]

[code]

[2016-03-02 21:39] kohenkatz opened #29 "How to access $router inside non-page component"
I am trying to create a "Breadcrumb" component that I can use in my app to show navigation. In order to do that, I need to get the Router so I can figure out what page the user is on.

Here is a (simplified) example:

[code]

Inside the `breadcrumbs` component, it looks up the current route and displays a list with the path to get to the current page where each part of the path is a link to go bac

[2016-03-03 17:58] caseyWebb commented on #29
It's inelegant, but you could use `<div data-bind="async: { component: { name: 'breadcrumbs', params: $router } }"></div>`

Additionally, the top level router is attached to `ko.router`. From there you can traverse down via `ko.router.$child` if need be.

[2016-03-03 17:59] caseyWebb commented on #29
Note, that async binding isn't a native ko binding. It can be found [here](https://github.com/caseyWebb/ko-component-router/blob/master/example/bindings/async.js).

Edit, I just noticed this is using `requestAnimationFrame`. You may want to change it to `ko.tasks.schedule`.

[2016-03-03 18:21] #27 closed, assigned to nobody

[2016-03-03 18:21] caseyWebb commented on #27
fixed!

[2016-03-03 18:23] caseyWebb commented on #28
fixed :tada:

[2016-03-03 18:23] #28 closed, assigned to nobody

[2016-03-04 16:48] carlosagsmendes commented on #29
@caseyWebb, using `ko.tasks.schedule` ensures that the bindings to the breadcrumbs component will only be applied after we have the router?

[2016-03-08 20:25] kohenkatz commented on #29
Yes, it's inelegant, but it does work. Thanks!

[2016-03-08 20:25] #29 closed, assigned to nobody

[2016-03-09 12:54] afoninsky opened #31 "subrouting example"
Hello.

There are two types of design: common for registered users (1), and other for registration/authorisation pages (2)

Is there way to implement subrouting? Something like:

GlobalModel:
`
this.routes = {
    '/main': 'registered-users',
    '/auth': 'registration-page',
    '/*': '404'
}
`

RegisteredUsersModel:
this.routes = {
    '/': 'main-page',
    '/user/:id': 'user-profile',
    '/*':

[2016-03-09 16:03] caseyWebb commented on #31
You're right, nested routing is the way to go for this. You'd use something like this...

[code]

[code]

[2016-03-10 10:53] afoninsky commented on #31
thank you

[2016-03-10 10:53] #31 closed, assigned to nobody

[2016-03-23 00:11] barsh opened #33 "emit a console.error when route doesn't exist"
react-router logs an error to the console if user navigates to an invalid route.  Seems like a logical addition to ko-component-router.

When user navigates to an invalid route, an error should be logged to the console like this:

`Warning: [ko-component-router] Location "/x" did not match any routes`

For example:

[code]

[2016-03-23 17:03] barsh opened #34 "recent breaking change"
until recently it was possible to access the component/view being rendered by the router like this:

`<div data-bind="text: $router.component()"></div>`

this recently stopped working in favor of

`<div data-bind="text: $router.route().component"></div>`

I'm submitting this issue as a form of documentation, in case someone else runs into this problem.  Feel free to close it.

[2016-03-23 18:01] caseyWebb commented on #33
The router should navigate away when a route is not matched; are you not seeing this behavior?

[2016-03-23 18:12] barsh commented on #33
It does, but explicitly informing the developer as to why that happened would help with debugging.  Here's an example:
![image](https://cloud.githubusercontent.com/assets/2644202/13995813/d63d2816-f0f8-11e5-8fb8-09dede8b17f1.png)

[2016-04-11 14:03] ghost opened #36 ".router dumb question"
Hello Casey.

I'm using your ko-component-router lib in own SPA. Didn't use KO before and it was hard to find actual routing library - yours fit perfect :)
But, i have a trouble with routing i cant fix myself.

Here is a bug:
1) Point browser to https://staging-dot-portby-web-dot-spair-api.appspot.com
2) Will redirect to https://staging-dot-portby-web-dot-spair-api.appspot.com/#!/auth

Expected be

[2016-04-12 06:21] ghost commented on #36
Update works fine if i'll delete `synchronous: true` from component declaration

[2016-04-12 06:21] #36 closed, assigned to nobody

[2016-04-12 17:33] caseyWebb commented on #36
Glad to hear it was a simple fix. If you have any more questions I opened a gitter room [here](https://gitter.im/caseyWebb/ko-component-router)

[2016-04-16 23:19] barsh opened #37 "target="_blank" does not work when using path binding"
The link below should open in a new tab:

[code]

[2016-04-18 14:11] epos opened #39 "Doesn't work in Internet Explorer 11"
When using Internet Explorer 11, routing crashed with the following message:

"Unable to process binding \"component: function(){return i}\"\nMessage: Unable to process binding \"component: function(){return i}\"\nMessage: 'Symbol' is undefined"

Practically, it looks like ko-component-router calls Symbol event though it set canUseSymbol=false.

The error can be seen browsing to the documentation

[2016-04-18 15:21] caseyWebb commented on #39
Add [babel-polyfill](https://babeljs.io/docs/usage/polyfill/) to your project

Closing via f0206a1787f4adc6e9ecb8ffe0252a775e34c26d

[2016-04-18 15:21] #39 closed, assigned to nobody

[2016-04-18 15:32] caseyWebb commented on #37
Closed via af97e57441bf7eacfbca7dd402dc7f829e4c7158

[2016-04-18 15:32] #37 closed, assigned to nobody

[2016-04-18 15:33] #34 closed, assigned to nobody

[2016-04-18 15:46] caseyWebb commented on #33
Closing via e50cdc32ffe96b37e653f2413eecb440463fd89b.

Note: only throws error when path binding is used and fails, not regular anchors

[2016-04-18 15:46] #33 closed, assigned to nobody

[2016-04-18 17:01] #21 closed, assigned to nobody

[2016-04-18 21:46] epos commented on #39
Thank you! That worked for IE10 and 11, you just made my day!

[2016-05-11 15:19] meltuhamy opened #48 "Click browser back button navigates 2 history items back instead of 1 when using a base path"
To reproduce,

**index.html**

[code]

**app.js**

[code]

Notice this is an adaptation from the getting-started example, but using _a different base path_.

When the above is webpacked and served,
1. Click on `Show user` the link. The browser navigates correctly to the user page, with the user id correctly shown.
2. Click on the browser back button.<br />  **Expected:** the browser navigates back

[2016-05-11 15:32] meltuhamy commented on #48
It seems that the problem is that `replaceState` is called instead of `pushState` when it is doing the update here https://github.com/Profiscience/ko-component-router/blob/master/src/context.js#L120

... which happens because the `push` param is `false` in the dispatch function here: https://github.com/Profiscience/ko-component-router/blob/master/src/router.js#L63

[2016-05-11 16:57] #48 closed, assigned to nobody

[2016-05-11 19:04] arolonger opened #51 "Is there a way to route the path by code?"
Hey,
I'm wonderinf if it's possible to activate the path by JS code, not only by click.
I saw ctx.update but I'm not sure if it's the right thing I'm looking for?

[2016-05-11 19:11] caseyWebb commented on #51
Yup, that's exactly what you're looking for. If you're outside of a routed viewmodel and don't have access to `ctx` the top level router is available at `ko.router.update`

[2016-05-11 21:05] barsh commented on #51
@arolonger try something like this `ko.router.update('/posts/' + this.post.id + '', {}, false)`

[2016-05-11 21:06] caseyWebb commented on #51
You could even omit those last 2 arguments. They should take those defaults.

[2016-05-12 13:38] #51 closed, assigned to nobody

[2016-05-16 13:39] arolonger commented on #51
Hey,
thanks for your fast responses. ko.router.update works like I except. The problem I have is with child component. I'm guessing it's all because of my misunderstanding in some place...

My root component:

[code]

[code]

Second issue is that after refresh page with nested url I have longer and longer URL per each refresh (localhost/example/////#!/tabs/history) and my both tabs have active-pat

[2016-05-16 15:01] caseyWebb commented on #51
**`/` added on refresh**
Try changing your basepath to something like `window.location.pathname.substring(0, window.location.pathname.length - 1)` with no trailing slash

**`active-path` on both tabs**
change the path(s) from `/tabs/upload` => `/upload`. It's currently traversing up a level (since the `/tabs` part is preventing them from matching at the current level), and both routes match `/tabs

[2016-05-16 15:03] caseyWebb commented on #51
There is also a pristine [gitter](https://gitter.im/Profiscience/ko-component-router) channel just waiting for some action.

[2016-05-19 16:02] vbeaulieu2 opened #54 "History with back button issue"
The browser back button does not seem to be handled correctly. It pushes a "/" at the end of the url instead of bringing me back to the earlier level.
for routes :
 '/':'home',    '/RequestList': 'list',    '/Request/:id': 'request'
navigation goes :
 http://localhost:9999/
use link with  data-bind="path: '/RequestList'"  navigates to :
http://localhost:9999/RequestList
back button navigates to:
h

[2016-05-20 09:56] carlosagsmendes opened #55 "Component containing child router can not be loaded synchronously"
Hi @caseyWebb,

When I change the child router component in the nested routed demo to be loaded [synchronous](http://knockoutjs.com/documentation/component-registration.html#controlling-synchronousasynchronous-loading), it doesn't work. ([foorouter](https://github.com/Profiscience/ko-component-router/blob/master/example/views/nested-routing.js#L32))

Are there any limitations in this regard or is

[2016-06-03 22:43] carlosagsmendes opened #56 "Params are not being clean when navigating between routes"
Hi @caseyWebb, when we navigate between routes, the source and destination `params` are being merged. Therefore, on as we navigate between routes we start getting params that don't belong to the route through the `ctx.params`.

As such, I think the [merge](https://github.com/Profiscience/ko-component-router/blob/master/src/utils.js#L49) should ignore the `params` property. What do you think?

[2016-06-03 22:52] carlosagsmendes opened #57 "How to handle navigating to the same page"
Hi @caseyWebb, when navigating to the same route (e.g., users/1, users/2, etc, for a users/:userId route) the respective component is not reloaded.

As such, currently, I'm subscribing to the `ctx.params.userId` Observable to detect the navigation change. Then I have to handle the disposal cycle and call the `dispose()`method on the KO component, reload the data, etc.

I was wondering if it wouldn

[2016-06-03 23:51] caseyWebb commented on #57
This is done by design with the intent that `ctx.params.userId` would be accessed in a computed. Would it be possible to refactor your viewmodel in a way that you don't have to dispose and re-construct for changed params?

[2016-06-03 23:57] caseyWebb commented on #56
When it navigates to a new page it should clear the query object [here](https://github.com/Profiscience/ko-component-router/blob/7679c91802d7c73347e4a06e52ca2936066fdc55/src/context.js#L84). Do you have a case that they aren't being cleared?

[2016-06-04 00:00] caseyWebb commented on #56
It seems like a shallow `extend` would suffice and solve the problem

[2016-06-04 15:08] caseyWebb commented on #56
Fixed in 39d96df59e35ef76648fcb321d5c588552a1ce47

[2016-06-04 15:10] #56 closed, assigned to nobody

[2016-06-04 22:09] carlosagsmendes commented on #57
In all my components for editing content, I use several items that need to be disposed. Some examples:

### Computed to track if the model is valid

[code]

### Computed to know if there are changes

[code]

I need to further understand if I can convert these computeds into pureComputeds (to avoid having to dispose them). Nevertheless, in some viewmodels I also use subscriptions and make use of so

[2016-06-04 22:13] carlosagsmendes commented on #56
Many thks!

[2016-06-04 23:24] #55 closed, assigned to nobody

[2016-06-04 23:54] caseyWebb commented on #57
Typically I recommend structuring your viewmodels is a way that you only need to manage one disposal and all the data ripples down from there, as such.

[code]

I can agree that there is room in the api to tell the router that certain components should reload on param change, though. I prefer this way as there is way less jarring on the page — it avoids the blank in between state (`this.ready() ==

[2016-06-05 00:17] caseyWebb commented on #57
Regarding the lifecycle callbacks, the only one I think the first would be better implemented in a component loader, but there is a need for a cancelable, async unload callback. I've been floating around the idea of something like this for a while...

[code]

[2016-06-06 11:19] carlosagsmendes commented on #57
Thanks for the code @caseyWebb.

Could you provide further details on the following:

_I prefer this way as there is way less jarring on the page — it avoids the blank in between state (this.ready() === false)._

Do you use the ready() to decide when to render (like in a if binding in the html template)?

Also, what would be the case for cancelling during the disposal?

Cheers

[2016-06-06 13:28] caseyWebb commented on #57
#### this.ready()

Using `this.ready` and wrapping the template in `` is how I normally do things. The UX on that is to react immediately to clicks on the UI and then let the page manage it's own rendering. In this case, subbing to the params or using them in a computed has worked well so far. IMO this is more "app like" behavior, but it's extremely tedious to make it really look good because you

[2016-06-06 13:47] carlosagsmendes commented on #57
Thanks for the clarification.

The addNavigateCallback would be a great addition.

I do follow the same approach that you've described with _this.ready()_ and works fine but as you've said is less than ideal.  The loader approach would be very nice but I don't know how could we keep the current component in place seems hard. Do you have any idea on how to achieve that?

[2016-06-07 13:33] caseyWebb commented on #57
Turns out it would be a lot more difficult than I thought to implement `activate` in a component loader the way I had originally thought. It was promising, but ultimately fruitless.

https://jsfiddle.net/hejtL5cg/2/

[2016-06-07 14:47] carlosagsmendes commented on #57
I was reading the [documentation ](http://knockoutjs.com/documentation/component-loaders.html) and they mention that:

_To supply a createViewModel function, call callback(yourCreateViewModelFunction). The createViewModel function must accept parameters (params, componentInfo) and **must synchronously return a new viewmodel instance** each time it is called._

Therefore it is not possible to use p

[2016-06-07 15:32] caseyWebb commented on #57
That is correct, you can't use them inside. I was trying to hack around that by doing the async work in the loader, but the results of this loader are cached so if there are more than 1 of that component on the page, they share the same vm instance. If there was an option to not cache this loader then it would would probably work, but alas there is no such option.

[2016-06-07 18:09] carlosagsmendes opened #61 "Questions: Passing params to ko-component-routers & child routers"
Hi @caseyWebb, I have two doubts in regards to the component router

1) I need to share data between my base component (loaded by knockout) and the components loaded by the router.

In my _app_ I pass some _params_ to my main component:

`<app params="myAppResources: textResource"></app>`

When working with parent and child routers I can access the parent's data that through the `ctx.$parent` on t

[2016-06-07 19:59] carlosagsmendes commented on #61
There was a typo on the JSFiddle. I've just updated the link above.

[2016-06-07 21:07] carlosagsmendes commented on #61
In regards to 2), I've updated the sample JSFiddle again to include some logging when loading components.

When I navigate to the tasks route the path, pathname and canonicalPath are not updated.
When I navigate back to home the pathm pathname and canonicalPath are updated but they have the data relative to the previous route: `Component Name: home Path: /tasks PathName: /tasks CanonicalPath: /9su

[2016-06-07 21:28] barsh commented on #61
@carlosagsmendes, generally we try to avoid attaching things to `window`, but it's ok to attach app globals to `window` like this:

`window.globals = { myAppResources: 'text' }`

or
`window.globals = { myAppResources: ko.observable('text') }`

that's what we do

[2016-06-08 00:49] caseyWebb commented on #61
You've got some syntax errors in your fiddle. I've fixed them and turned it into little module (fiddle is a pita to work with re: routing). I've also added a bit to highlight how to pass data between components (although I found some other bugs in doing so).

https://gist.github.com/caseyWebb/da69af8674744c9d8b4d9a41cfc1684e

_use `npm install && npm start` to run it_

`ctx.state()` should be used

[2016-06-08 11:23] carlosagsmendes commented on #61
Thank you for the suggestion @barsh. We use something similar to what Casey suggested (require through systemJS).

@caseyWebb, thanks so much for your support.

From your changes, my understanding is that currently:

1) [I cannot use synchronous components](https://gist.github.com/caseyWebb/da69af8674744c9d8b4d9a41cfc1684e#file-app-js-L49) on child routers even though this was corrected and tested

[2016-06-08 11:51] carlosagsmendes commented on #57
Could you check [this example](https://jsfiddle.net/carlosagsmendes/hejtL5cg/39/)?

Since the createViewModel needs to return immediately, we would have to move the initialization logic to a method that would return a promise (**activate** in this case).

[2016-06-09 16:12] caseyWebb opened #64 "beforeNavigate callbacks are not called when parent router navigates"

[2016-06-09 17:32] #64 closed, assigned to nobody

[2016-06-10 13:41] caseyWebb commented on #55
I had to revert this. I was wreaking havoc as far as unit testing goes.

I've added a note of limitation to the docs.

[2016-06-10 16:45] jzabroski commented on #55
Can you elaborate?
On Jun 10, 2016 9:41 AM, "Casey Webb" notifications@github.com wrote:

[2016-06-12 20:34] caseyWebb commented on #55
I can surely try.

What the issue comes down to is the fact that the `<ko-component-router></ko-component-router>` needs to be mounted synchronously. This is to ensure that it is rendered and attached to `bindingCtx.$router` before adjacent path, state, and query bindings are applied —they are applied asynchronously for the inverse reason; to allow them to be used adjacent to routers. i.e.

[code]

[2016-06-12 21:02] carlosagsmendes commented on #55
This is great

[2016-06-12 22:05] #61 closed, assigned to nobody

[2016-06-12 22:08] carlosagsmendes opened #69 "Subscribing to params & path binding @ 3.8.3"
Hi @caseyWebb ,

I tested my previous issues with v3.8.3 and the limitations related to the child router - having to be sync and not using the path binding - are gone.

Here's the [gist I'm using for testing](https://gist.github.com/carlosagsmendes/bb3c2019ed8caaed66d3e102b25b7ad4)
### 1) Issue with subscription to params

In a child router, I have a subscription to `ctx.params.id` but when naviga

[2016-06-13 09:06] carlosagsmendes opened #70 "How to run the tests?"
I'm trying to create a few tests but I can't get the tests to run.

After cloning the repo and doing a `npm install`, when I run `npm run test` I get the following issue with babel:

[code]

Any suggestion?

[2016-06-13 09:41] caseyWebb commented on #70
whoops...

run `npm install babel-plugin-transform-regenerator`

fixing in 46d68646c57a0027bd27030f7c0d19f3e1080815

[2016-06-13 09:41] #70 closed, assigned to nobody

[2016-06-13 09:42] caseyWebb commented on #70
Changed Travis settings to build on push to avoid this again.

[2016-06-13 10:28] caseyWebb commented on #69
1) This is a side effect of https://github.com/Profiscience/ko-component-router/issues/56. Fixing in c2d7af64f2000bc8e06ac1ed1bc8af1944e50fca

[2016-06-13 10:46] carlosagsmendes commented on #69
Thanks @caseyWebb. You closed this but the issue of using the full path in the path binding in a child router persists.

[2016-06-13 10:49] caseyWebb commented on #69
Github caught the "fix" in the title of the commit

[2016-06-13 11:21] carlosagsmendes opened #72 "Passing data between parent and child routers"
I need some help to find a way to pass data between parent and child routers.

In [my example](https://gist.github.com/carlosagsmendes/bb3c2019ed8caaed66d3e102b25b7ad4) I have a list of tasks on the parent router. When I select a task on the parent router, I want to be able to edit it on the child router.

I've passed the selected task from the parent Tasks router to the child Task Details router

[2016-06-13 11:23] caseyWebb commented on #54
@vbeaulieu2 What browser is this in? I'm not able to repro in Chrome, Safari, or Firefox.

[This is the code I'm using](https://gist.github.com/caseyWebb/9df8fc9e92be23814e661aefaba4b3a8)

[2016-06-13 11:48] vbeaulieu2 commented on #54
Chrome and IE 11
Go to your docs page, nested routing, use foo-ception 3 times and play with back and forward.
You should see a similar problem in the url. At some point back and forward don't seem to work anymore.

[2016-06-13 11:57] caseyWebb commented on #72
That's a perfectly fine way to do it. Another would be to implement a model/collection layer. As your apps grow larger this becomes more and more valuable. You're able to keep your viewmodels small and concerned with UX without juggling the actual state of your data too much.

[Here's an example](https://gist.github.com/caseyWebb/27b2b0cf7948fa06983369c6376e0d37)

[2016-06-13 12:54] caseyWebb commented on #54
I was able to reproduce a bit of unexpected behavior, but nothing like you've described. Could you check out the docs again and see if the problem you were having persists? If so, you could list the steps to repro?

Thanks

[2016-06-13 13:07] vbeaulieu2 commented on #54
My first description comes from a project a bit more complex so I am not able to give you a simple version of the problem yet. I noticed later that the foo-ception exemple had a similar behavior and I think both are related.

I have recorded a quick video of the problem on your docs page and attached it here.
The result is that both history buttons and adress bar becomes invalid at some point.
[Re

[2016-06-13 13:18] carlosagsmendes commented on #72
Great to know, and thanks for the sample. Having leaner view models would be great for separation of concerns and testing.

[2016-06-13 13:18] #72 closed, assigned to nobody

[2016-06-13 14:17] caseyWebb commented on #54
The behavior you've recorded is due to the fact that the example is using recursive routing; I can't imagine this being a real-word scenario, but I've fixed it nonetheless for demo purposes.

[2016-06-13 14:58] vbeaulieu2 commented on #54
Didn't fix the problem in my app.
I'll get back to you with a simple version of the problem as soon as i can.

Thanks

[2016-06-13 17:25] carlosagsmendes opened #74 "Issue when changing paths manually"
Hi @caseyWebb,

When I change the paths on the browser there seems to be an issue with child routers. Here are my routes:

[code]

When I try to navigate from the child router back to the overview, my path changes automatically from `http://localhost:3000/index/#!/` to `http://localhost:3000/index/#!/tasks/index/`

My base path - **index** - is being appended to the path.

Here's a [20 sec clip](h

[2016-06-14 03:20] #57 closed, assigned to nobody

[2016-06-16 11:47] barsh opened #76 "how to confirm before navigating"
When users are working within a form, it's sometimes desirable to have them confirm before navigating away from the form with a message like this:

`You haven't saved your changes.  Are you sure you want to leave this page?`

[2016-06-16 14:15] caseyWebb commented on #76
https://profiscience.github.io/ko-component-router/#!/context#addBeforeNavigateCallback

[2016-06-16 14:16] #76 closed, assigned to nobody

[2016-06-20 20:00] vbeaulieu2 commented on #54
I came up with this example

Hope it helps. Thanks again.

Steps to reproduce : .
1. starting adress should be http://localhost.../main
2. use "request list" link. adress is now http://localhost.../main/request
3. use back button. final adress: http://localhost.../main/request/main/

components and routes :

[code]

[2016-06-30 14:35] matt-hensley opened #78 "Context can only "carry" primitive values to component"
Looking for a way to pass additional data, including callbacks, in to a routed component.

Currently I've experimenting with doing this via the route callbacks:
http://codepen.io/barake/pen/NAjKod

Setting custom fields on the context to primitive values works fine. Internally `extend` isn't copying over the passed function, instead setting the key to undefined.

[2016-07-14 03:19] kohenkatz opened #84 "Route callbacks only run the first time"
Following the example of "[dynamic routing](https://profiscience.github.io/ko-component-router/#!/config#routes)" in the documentation, I have the following (simplified) structure for my routes:

[code]

The first time I go to any page in the `/users` route, it works as expected.  However, every time after that, it tries to use the component name determined at the first load.

After stepping throu

[2016-07-14 04:07] kohenkatz commented on #84
Here's a failing test for the test suite:

[code]

[2016-07-14 04:23] kohenkatz commented on #84
Confirmed that it passes the test I wrote when `cascade(callbacks, ...args)` has the following line added to it (as the first line of the function):

[code]

This shallow-clones the array of callbacks so the `shift` call doesn't modify the original array.

An alternative would be to do the clone in [`route.runPipeline`](https://github.com/Profiscience/ko-component-router/blob/master/src/route.js#L

[2016-07-14 05:02] kohenkatz commented on #84
This now leads to another issue - while the pipeline functions are called, the component displayed in the browser doesn't actually change because the `route` is the observable and the route itself did not change, so the change to its component is never noticed.

I'm guessing that fixing this would require expanding the scope of when `forceReloadOnParamChange` is used to include any time that the r

[2016-08-12 19:46] #78 closed, assigned to nobody

[2016-09-14 00:09] barsh opened #96 "router doesn't work in IE v11 since release v3.10.6"
When attempting to navigate, the browser console reports `Exception thrown and not caught`.

Clicking on the error in the console reveals a clue: `Invalid attempt to destructure non-iterable instance`

[2016-09-26 13:24] barsh opened #100 "back button doesn't work"
Repro:
1. launch docs: https://profiscience.github.io/ko-component-router
2. click `config`
3. click `bindings`
4. click back
5. try back button again (back button doesn't work this time)

[2016-09-26 19:10] #96 closed, assigned to caseyWebb

[2016-09-26 19:10] #100 closed, assigned to caseyWebb

[2016-09-26 19:12] #84 closed, assigned to nobody

[2016-09-29 19:01] caseyWebb commented on #54
Should be closed via f1a7017e4248b04fb17c8983a13269f0673cacfa

[2016-09-29 19:01] #54 closed, assigned to nobody

[2016-10-05 23:37] caseyWebb commented on #69
@carlosagsmendes, I've been busy giving the path binding some love lately, and this should be fixed I believe. Sorry it sat so long.

[2016-10-05 23:37] #69 closed, assigned to nobody

[2016-10-05 23:50] caseyWebb commented on #74
@carlosagsmendes, I'm trying to clean up all these longstanding issues, and I think this one has been settled too. If not, could you reopen it please?

Cheers 🍻

[2016-10-05 23:50] #74 closed, assigned to nobody

[2016-10-06 13:48] carlosagsmendes commented on #74
Looks good! Thanks

[2016-10-17 23:09] jonathaneckman commented on #3
@caseyWebb can you give an example of your proposed workaround? I'd really like to use this router but this is my only use case.

Edit: Disregard. I just realized what you meant. Subscribe to the ctx in the child component rendered by the router and have it reload based on changes to the params.

[2016-10-17 23:31] caseyWebb commented on #3
There is now `ctx.reloadOnParamChange`, which you can call in your viewmodel, and it will cause the component to be torn down and reloaded if any params change.

However, the recommended pattern is to merely use a computed or subscription to reload your data and run any necessary setup again.
The benefits of this approach are
  a) if there are any nested components that also fetch data (that is in

[2016-10-17 23:37] caseyWebb commented on #3
@Slimfit, ping.

[2016-10-17 23:41] jonathaneckman commented on #3
@caseyWebb thank you for the excellent explanation and quick reply!

[2016-11-16 03:00] nachopants opened #118 "ko-component-router seems to fail to render in IE 11"
I'm absolutely loving ko-component-router, and it's working beautifully for our app in all browers apart from IE.

I've successfully implemented es6-promise as per the instructions, and have confirmed console>> Promise resolves in IE correctly.

However, something about the <ko-component-router> element isn't rendering (or so I suspect). No console errors, nothing, I was hoping you could provide s

[2016-11-18 19:37] matt-hensley commented on #118
IE10 & IE11 also need Symbol and Map polyfills.

I'm using https://github.com/zloirock/core-js and importing only:
- `core-js/es6/symbol`
- `core-js/es6/map`

[2016-11-29 13:20] ravipuri opened #120 "ctx.state cannot be set because it is not available."
state does not exist and cannot be set in the router context within router callback.

`      ctx.state.user = u`

[code]

[2016-12-05 16:42] caseyWebb commented on #120
I've pulled the state and query out of the router going forward (v4). The query has been abstracted to [ko-querystring](https://github.com/Profiscience/ko-querystring), however I haven't created a new state abstraction. I surely can if it's desired (the code for ko-querystring could easily be modified to read/write from history.state and made into a separate package), however since we ended up mov

[2016-12-05 16:42] #120 closed, assigned to nobody

[2016-12-05 16:44] caseyWebb commented on #118
@nachopants, does adding the polyfills above resolve your issue? I'm on a Mac and prefer to fire up IE as sparingly as possible, but I do know that the app that the router was created works in IE9-11. We use babel w/ the babel-polyfill. If you've still got issues, lmk.

[2016-12-07 16:28] matt-hensley opened #121 "pushState/replaceState usage breaks IE9, requires polyfilling"
Even in hash mode, the router uses history.pushState and history.replaceState. This isn't supported in IE9.

To correct, install this HTML5 history polyfill:
`npm install --save-dev html5-history-api`

and add the following plugin configuration:
[code]

[2016-12-07 18:37] caseyWebb commented on #121
I've yet to get to playing around with the new version in IE, but whatever the process is to make it work will be documented soon. v3 should work with the above polyfill, even w/o subbing `location` iirc. It's been a while.

[2016-12-09 17:14] codymullins opened #123 "Any plans to support named states like angular-ui-router?"
This project looks interesting, I'm currently using crossroads for routing but this looks like a decent alternative.

I've been using angular-ui-router on another project, any thoughts on supporting named states for routes?

i.e.

[code]

or in bindings...

`data-bind="routerState: 'viewUserList'"`

These would essentially map to the routes and navigate instead of having to remember all the URLs.

[2016-12-09 17:17] caseyWebb commented on #123
I'm not familiar with ui-router, could you elaborate a bit?

[Gitter](https://gitter.im/Profiscience/ko-component-router) may be preferable

[2016-12-09 21:16] caseyWebb commented on #123
I don't think it's within the scope of this router. You could potentially get the state from the component name, but you don't _have_ to use the component setter. In our app, we actually use a custom middleware to set the component (it's on `ctx.router.component`).

However, with that being said, it should be trivial to implement as a small util for your app.

[code]

[2016-12-09 21:23] caseyWebb commented on #118
v4 outputs es5 code that only requires a promise lib, and appears to work ootb with IE11. Stable build is impending.

[2016-12-10 04:52] caseyWebb commented on #121
I believe this is closed via https://github.com/Profiscience/ko-component-router/pull/124

thanks! 🍻

[2016-12-10 04:52] #121 closed, assigned to nobody

[2016-12-10 04:53] caseyWebb commented on #118
polyfill note added to docs

[2016-12-10 04:53] #118 closed, assigned to nobody

[2016-12-12 15:31] #123 closed, assigned to nobody

[2016-12-13 21:52] matt-hensley opened #127 "Nested route requires multiple navigation in hashbang mode"
Reproduced with a param http://www.webpackbin.com/4k14q8K7f
Without params, nested deeper http://www.webpackbin.com/VJeQCIt7f

Clicking the `/tasks/3` link once:
[code]
Second click:
[code]
Looks like nested routers aren't be applied immediately.

[2016-12-13 22:08] matt-hensley opened #128 "Error when navigating to nested route in hashbang mode"
Reproduced at http://www.webpackbin.com/VJeQCIt7f

Navigating to a route with nested children routes throws

Also an intermittent

[2016-12-14 17:14] caseyWebb commented on #127
closed via a17fbf8347e84cef774a39aa83be89f42db3b308

[2016-12-14 17:14] #127 closed, assigned to nobody

[2016-12-14 21:31] caseyWebb commented on #128
Happens on all unhandled routes...

...but closed in 8135bb2bff402f429f17e6024a917be61d650cbc

[2016-12-14 21:31] #128 closed, assigned to nobody

[2016-12-18 18:18] caseyWebb commented on #123
This really did deserve a [wiki](https://github.com/Profiscience/ko-component-router/wiki/Named-States)

[2016-12-27 18:00] codymullins commented on #123
thanks for following up!

[2017-01-06 15:19] Ixonal opened #143 "Assigning values invalid on ES2015 (and TypeScript) imports"
This came about from my using TypeScript, but also looks to be an issue for ES2015 imports (since they're intended to be the same). The bindings from an import are apparently supposed to be considered constant and unassignable. Even properties of said bindings cannot be assigned to. That being the case, assigning a value to, say, Router.config is considered an error in the new import system. Would

[2017-01-06 16:24] matt-hensley commented on #143
Check out PR #142. It has some type declarations and doesn't complain about setting the config and routes.

[2017-01-06 16:42] Ixonal commented on #143
I did see that PR, but TypeScript doesn't like me setting Router.config still for the same reason. You're just not supposed to be able to set Router.config. From what I understand, only a module itself is supposed to be able to modify things that it exports, so it's less of an issue of TS itself, but the ES2015 import spec.

[2017-01-10 18:00] Ixonal opened #146 "Error when routes bound to observable"
I'm having a weird issue where Knockout is turning component parameters into observables for some reason. This becomes an issue when trying to bind routes. In router.js, line 27, the Object.assign call assigns the properties of the observable instead of the properties of the value of the observable. A simple solution would be to use ko.utils.unwrapObservable to be sure that what you're assigning i

[2017-01-10 18:42] caseyWebb commented on #146
That would work, but honestly I'm not sure it'd be desired. Making it observable may give the impression that any changes to the routes will be picked up by the router. Can you do something similar in the client, i.e. `<ko-component-router params="routes: ko.unwrap(routes)"></ko-component-router>`?

I think you probably want to figure out why params are being turned into observables.

[2017-01-10 18:45] caseyWebb commented on #143
I'll add a `setConfig` and `useRoutes` — useRoutes being composable

[2017-01-10 18:47] Ixonal commented on #146
Well, it's not intended to be observable, it's just sort of a catch-all just in case.

Really, it's not supposed to be an observable in my case (it's not in my view model, anyways), but Knockout converts it to one at some point before it gets passed to the routing component. Like I said, weird issue.

[2017-01-10 18:49] caseyWebb commented on #146
That is weird. Are you using any component loaders? I can add it as a catch, I'm just curious as to why it's happening in the first place.

[2017-01-10 18:55] Ixonal commented on #146
It probably has to do with what I'm doing with the view models. I have a function that takes an object and creates observables for all of the properties, but hides them behind getters and setters. Basically just making it so that parenthesis aren't needed all over. I guess something deep inside of the innards of knockout is detecting the read and assigning the observable, instead of the value. I'm

[2017-01-11 16:42] #143 closed, assigned to nobody

[2017-01-11 19:41] caseyWebb commented on #146
@Ixonal would you mind confirming the `observable-routes` branch fixes everything for you?

[2017-01-11 19:54] Ixonal commented on #146
@caseyWebb looks like it should. All I was doing as an interim fix that worked was putting
[code]
as the first lines in the constructor. The toJS call should be even more reliable, and the placement looks like it'd work the same way (though, that's dependent on how the code is transpiled). Incidentally, it'd probably be a good idea to unwrap the other params in the same way for the same reason, so

[2017-01-11 23:57] caseyWebb commented on #146
only problem with doing that is it will wipe out any passthrough params that are supposed to be observable. for some reason, that `toJS` is breaking the tests, so I've gotta dig into that.

[2017-01-12 00:14] Ixonal commented on #146
Good point. I guess just unwrapping routes, base, and hashbang individually would be the safest option.

[2017-01-12 19:51] matt-hensley opened #150 "Router.onclick doesn't cooperate with ctx.addBeforeNavigateCallback"
If an anchor click is picked up by Router.onclick, and the navigation is cancelled via ctx.addBeforeNavigateCallback, a few issues occur.

[This promise handler is causing the issues](https://github.com/Profiscience/ko-component-router/blob/master/src/router.js#L266)

1. the anchor is marked external, and isn't handled anymore
2. the URL changes to the new, rejected path

Removing the handler fixe

[2017-01-19 17:13] #150 closed, assigned to nobody

[2017-01-19 17:42] #146 closed, assigned to nobody

[2017-01-26 18:37] developermj opened #156 "Support route prefix"
Version: 4.3.1.
hashbang: true

Our site is divided into multiple different apps each with their own route prefix. I.e.:

http://somehost.com/
http://somehost.com/admin <-- site prefix

We used the "base" param on the ko-component-router element but the behavior wasn't as expected. Instead of seeing the expected route of /admin/#!/some-page we instead got the route of /#!/admin/some-page.

From re

[2017-01-26 18:49] caseyWebb commented on #156
Sounds like you want nested routing.

[code]

Using CommonJS/AMD, you would break the sub-apps into separate modules.

[2017-01-26 19:09] developermj commented on #156
Would that achieve the #! in the middle? I.e.: /admin/#!/some-page ?

We have different pages/apps with different scripts that load depending on the route that you initially hit.

[2017-01-26 19:12] caseyWebb commented on #156
Are all of the sub-apps tied together, or are they totally independent? If each sub app defines it's own base — i.e. the admin page has a router with a base path of `/admin` — you should achieve what you're looking for.

[2017-01-26 21:00] maxfridbe commented on #156
I'm having the same issue as this.

i **have bob.com/admin/index.html**
which can be **bob.com/admin/**
trying to route:
**bob.com/admin/#!/dashboard**

setting
`ko.router.setConfig({
    base: "",
    hashbang: true,
});`
and
`ko.components.register('app', {
    viewModel: class App {
        routes: any;
        constructor() {
            this.routes = {
                '/admin': [

[2017-01-26 22:23] developermj commented on #156
Our apps are independent of each other. So a user going to the /admin app is in a completely different app then the user going to the / route. Setting the base doesn't achieve the expected result in the /admin page (as stated above). Is this a bug? Is it expected that the base for /admin should result in routes with /admin as the prefix?

[2017-01-27 16:20] caseyWebb commented on #156
That would definitely be a bug; the base path should precede the `#!`. There can be some funky requirements when using the pushstate polyfill though. I'll try to get to making an example later today.

[2017-01-27 16:21] caseyWebb commented on #156
@barake knows more about hashbang routing and IE usage than I do

[2017-01-27 17:11] matt-hensley commented on #156
Is this happening all browsers, or just IE9 with the history polyfill?

The html5-history-api polyfill requires configuration to work with the router in general:
https://github.com/Profiscience/ko-component-router/blob/master/docs/basic.md#installation

In this case, you'd need to make your setup call look something like:
[code]

[2017-01-27 18:29] maxfridbe commented on #156
I am on chrome latest.
Tested it with polyfill and without, didn't try /admin in the polyfill though.

[2017-01-30 20:07] Ixonal opened #157 "path binding rendering before router component renders causes error"
I have a setup that's effectively as follows (in the way of component structure)

[code]

So if both "header-component" and "content-container-component" are synchronous, the path binding will throw an error, since no Router instance has been created yet. The place it fails is in the "resolveHref" function when it tries to reference "router.base" (router is undefined). Would it be possible to have

[2017-01-30 20:37] matt-hensley commented on #157
try out this async binding from v 3.x:
[code]
there are some timing difficulties like this lurking still.

[2017-01-30 22:41] caseyWebb commented on #157
to clarify...

you'd create the above binding and use it as such

[code]

The binding already waits for one ko render cycle to complete before attaching itself so that immediately adjacent routers are available — which means it's curious that it doesn't work when both are synchronous. I believe the further nesting in `<content-container-component>` may be to blame.

[2017-01-31 14:19] Ixonal commented on #157
@caseyWebb Right, but that still seems kinda off, since it's relying on another binding, and it's still possible that wouldn't fix this issue (if all components are async, I would think the situation could still arise, even with the async binding). Be that as it may, I do have an interim solution, in making the header async and the rest sync.

And yes, the problem does seem to be that the router i

[2017-01-31 16:14] caseyWebb commented on #157
Having the root router predefined could cause some issues since the routes don't have to be defined globally, and they aren't observable. However, p sure it'd be fairly trivial to export a promise from `router.js` that resolves when the root is initialized and use that in `binding.js`.

[2017-01-31 16:20] Ixonal commented on #157
I like it. That promise could be helpful elsewhere as well when trying to do fancy stuff with the router.

[2017-02-01 16:45] caseyWebb opened #159 "afterRender middleware being called twice in child routers"

[2017-02-01 16:51] #157 closed, assigned to nobody

[2017-02-01 16:51] #159 closed, assigned to nobody

[2017-02-04 05:17] #156 closed, assigned to nobody

[2017-02-04 05:21] caseyWebb commented on #156
t'was a bug, and it has been squashed. 4.4.1 should work as expected.

[2017-02-06 19:40] caseyWebb opened #164 "Issue when navigating to same route w/ different params"
route instance is the same, so middleware execution gets janky

[2017-02-06 19:41] #164 closed, assigned to nobody

[2017-02-06 21:01] Ixonal commented on #157
@caseyWebb Hope you're still getting notifications on this. The fix looks to be working for the most part (thanks for the quick support, btw), but I am having a weird niche case issue. Every time, when I first start up the app (using Visual Studio, starting an IIS Express server), the first load of the page doesn't update the elements using the path binding. I've traced this to the first update ca

[2017-02-15 14:52] mcgoncalves opened #165 "Hardcoded 'active-path' css class"
We're using bootstrap and when using [tabs/pills](http://getbootstrap.com/components/#nav), the selection styles are applied to the element with the class "active".

Looking at the code trying to figure out if it could be passed as a parameter to the router, noticed that [this class is hardcoded](https://github.com/Profiscience/ko-component-router/blob/5e485970dcada56ea30dd9d3a91ef97e777d4a60/src/

[2017-02-15 15:31] caseyWebb commented on #165
I didn't, but it would be trivial

[2017-02-15 23:09] caseyWebb commented on #165
added in dfddfc09771b62b87feb592dd5163cadee82412f

[2017-02-15 23:09] #165 closed, assigned to nobody

[2017-02-16 10:03] greenkeeper[bot] opened #166 "An in-range update of babel-loader is breaking the build 🚨"
## Version **6.3.2** of [babel-loader](https://github.com/babel/babel-loader) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Profiscience/ko-component-router/compare/greenkeeper%2Fbabel-loader-6.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-loader
    </td>
  </tr>
  <tr

[2017-02-16 11:35] mcgoncalves commented on #165
Thanks @caseyWebb

[2017-02-16 15:37] #166 closed, assigned to nobody

[2017-02-22 22:32] jonathaneckman opened #168 "Nested routing with a parameter in the parent"
Hi @caseyWebb

Great work on this tool. I evaluated other routers for my project and this one is by far the best choice for a Knockout app. I am trying to follow your [example ](https://github.com/Profiscience/ko-component-router/blob/master/docs/nested.md#method-2-deep-route-object) of nested routing but could use a hand on how to navigate around the sub routes.

My config looks like this:

[code

[2017-02-23 00:09] caseyWebb commented on #168
It depends on the location of the path binding in relation to the router you are targeting.

So, if your path binding is in the 'book-workspace', anything starting with `/` will be assumed to be at the same level as that component (adjacent to '/book/:id'). To target the child router, append `.`, i.e. `./page/new`

I just added an example that may help you:
https://github.com/Profiscience/ko-compo

[2017-02-23 00:17] jonathaneckman commented on #168
Perfect. Exactly what I needed. Thanks!

[2017-02-23 00:17] #168 closed, assigned to nobody

[2017-02-23 20:02] jonathaneckman opened #169 "Maintain child routes"
Is it possible to navigate between nested routes like this:

Router[0]: '/book/:id', '/book/:id/edit'
Router[1]: /page/:id
Router[2]: /word/:id

I am currently at

#!/book/2/page/3/word/6

Id like to navigate to

#!/book/2/edit/page/3/word/6

Id expect the root router to navigate to the edit component, and all nested components to reload. I am approaching this by exploring the middleware to see if

[2017-02-23 20:54] greenkeeper[bot] opened #170 "An in-range update of eslint-config-profiscience is breaking the build 🚨"
## Version **1.3.0** of [eslint-config-profiscience](https://www.npmjs.com/package/eslint-config-profiscience) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Profiscience/ko-component-router/compare/greenkeeper%2Feslint-config-profiscience-1.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>

[2017-02-23 20:56] caseyWebb commented on #169
The child routes are unique to their parent, so `/page/:id` and `/word/:id` would also have to exist under the `/book/:id/edit` route.

[2017-02-23 22:05] #170 closed, assigned to nobody

[2017-02-27 10:12] jonydev opened #171 "Single Page Application using this component"
Hi, my project is SPG, a page contains some sections, a section contains edit mode, list view mode, and creation mode.
I the same time, only display one mode, for example, when it's list view mode, there is a button of creating when I click create button, the container will change to creation mode, the creation button will be invisible, and the list texts can be edit. the important is, as there ar

[2017-02-27 16:19] caseyWebb commented on #171
I'm not fully understanding you, but I'm not sure this is what you're looking for if you don't want the URL to change.

P.S. I'm available in the [gitter channel](https://gitter.im/Profiscience/ko-component-router) if you need some help setting up a project, or general q's about the router and usage.

[2017-03-01 14:18] #169 closed, assigned to nobody

[2017-03-02 19:51] lmaneville opened #172 "Route parameters in ctx.params"
Hi,
I am currently testing ko-component-router for our projects. It works quite good for the moment thanks.

Yet I have an issue when trying to retrieve route parameters.
As stated in ko-component-router documentation, route parameters are stored in ctx.params.
This works for params at the end of the route  but not for params in the begining.
For exemple, with the route /:language/user/:userID', c

[2017-03-02 21:04] caseyWebb commented on #172
to be honest, I'm not sure I've tried it :sweat_smile:

I'll take a look a bit later today.

[2017-03-02 21:33] caseyWebb commented on #172
I wasn't able to repro in the test case above, do you think you could try to narrow down the issue?

[2017-03-02 21:43] lmaneville commented on #172
Thank you for the test. I have the issue on a project with nested routing with Method 2 from your documentation (deep route object). So not as simple as /:language/user/:userID.
 I will try to reproduce the issue on a new project to find out what was wrong.

[2017-03-02 22:05] caseyWebb commented on #172
ahh, you probably want to use ctx.$parent.params

[2017-03-02 22:15] lmaneville commented on #172
Indeed.. It works better this way!
Thank you for the help, and sorry for the time spent, I should have found it on my own

[2017-03-05 04:58] getmoble opened #173 "How to use this router along with RequireJs & Knockout application."
I dont find a single js file, which i can download and use. So I have pulled down the ko-component  using the npm command. Now in the dist folder there is a min version. Is that enough for the ko-component router to work ?

My files looks like these
RequireJs config
-----------------------
[code]

Startup..
--------
[code]

And UI
---------
[code]

But nothing is happening.
Can you please guide me

[2017-03-05 14:50] caseyWebb commented on #173
I've got a very limited knowledge of RequireJS — but I believe it should work without shimming. The ko-component-router.js and ko-component-router.min.js are built with rollup and should be compatible with browser globals, amd, or commonjs.

[2017-03-05 15:04] #172 closed, assigned to nobody

[2017-03-06 06:58] getmoble commented on #173
@caseyWebb So we can just include "ko-component-router.min.js" alone and it has everything for me to render the ko-component-router ?

[2017-03-06 14:22] matt-hensley commented on #173
This requirejs config from one of our apps works fine:
[code]

That config will work depending on what browsers you wish to support. The router library relies on some features not present in all browsers.

[You'll need to read this page, and check the compatibility for required features.](https://github.com/Profiscience/ko-component-router/blob/master/docs/basic.md) There are some recommended poly

[2017-03-06 15:38] getmoble commented on #173
Thanks, I was trying in the latest chrome, so we don't need any pollyfills right ?
This is the minimal code, Can any one of you can help me on this ?

https://github.com/getmoble/korouter-requirejs

[2017-03-06 16:38] caseyWebb commented on #173
I've submitted a PR that fixes your example

[2017-03-06 16:38] #173 closed, assigned to nobody

[2017-03-15 05:14] getmoble opened #175 "Where we should call the api call for optimum experience while using ko router"
I am using this router and it's pretty nice. But when loading the components, few components needs to load the data from the api. So what's the best way of calling them ? I write currrently in the viewmodel itself like

[code]

Do we have a special hook/method which router can call everytime after rendering the page. My main concern is UI is blank for sometime. Once we render the page, then callin

[2017-03-15 14:47] matt-hensley commented on #175
A lazy example from one of my applications. There are other ways to achieve this but I have found structuring the routes around data loading simplifies apps. YMMV.

Use nested routing to structure the UI and do data loading, like so:
[code]
The `users` component will have rendered, and be waiting for the data for component `user` to load.
The router injects a `$router` variable in to the binding c

[2017-03-15 15:46] caseyWebb commented on #175
Leave this issue open please; it's something I want to be sure to document more.

[2017-03-15 22:52] caseyWebb commented on #175
IMO the best practice is to load data and handle loading via middleware. There is a short-coming in the current router where child routers are detached in a sense, so it is impossible to call their middleware at the same time and this can cause blank states in the UI during navigation.

This is solved in the forthcoming v5, so navigating to a deeply nested route will not transition the page until

[2017-03-15 22:54] caseyWebb commented on #175
I wrote more on the changes in middleware execution and loading UX [here](https://medium.com/@notCaseyWebb/building-a-better-router-ef42896e2e5a#.z1tsytqvb) if you're interested.

[2017-03-24 04:07] #175 closed, assigned to nobody

[2017-03-27 19:42] #171 closed, assigned to nobody

[2017-03-30 17:25] greenkeeper[bot] opened #178 "An in-range update of coveralls is breaking the build 🚨"
## Version **2.13.0** of [coveralls](https://github.com/nickmerwin/node-coveralls) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Profiscience/ko-component-router/compare/greenkeeper%2Fcoveralls-2.13.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      coveralls
    </td>
  </tr>
  <tr

[2017-03-31 15:17] arolonger opened #179 "NEXT router with es5"
Hello,

thanks for your great work. I would like to test NEXT version in my project. Do you have plans to share single file just to attach to project?

[2017-03-31 17:12] caseyWebb commented on #179
It's not published to github, but you can install via NPM `npm install ko-component-router@next` and snag `dist/ko-component-router.min.js` (or unminified, it has sourcemaps and is huge though)

[2017-03-31 17:14] arolonger commented on #179
Thank you 👍

[2017-03-31 17:14] #179 closed, assigned to nobody

[2017-03-31 17:16] #178 closed, assigned to nobody

[2017-04-03 01:54] skyline9002 opened #181 "Can not build project with npm install & npm start"
Following the readme file in the example folder, I want to build the project with npm install & npm start command. However it pop up the error message like "Can not resolve knockout "

[2017-04-03 03:09] #181 closed, assigned to nobody

[2017-04-03 14:33] caseyWebb commented on #181
Whoops, `knockout` is missing from that package.json. `npm install knockout` should fix, and I'll add it to package.json.

[2017-04-04 00:05] skyline9002 commented on #181
Yes, actually I found that and fix it. :) Thank you anyway

On Tue, Apr 4, 2017 at 2:33 AM, Casey Webb <notifications@github.com> wrote:

[2017-04-04 12:32] arolonger opened #182 "Missing ctx.state"
Hello once again.

I'm during tests @next router, could you share state like described below?
https://github.com/Profiscience/ko-component-router/wiki/Migrating-from-3.x-to-4.x

I used it in one place, will be easier for me to leave it and just add ctx.state support if possible.

Thanks

[2017-04-04 13:46] caseyWebb commented on #182
`ctx.state` probably isn't coming back, at least not as a core part of the router. If all you're needing is to pass data to nested views however, you can simply attach values to `ctx` or use `with` when calling `.update()`.

[2017-04-06 07:00] arolonger commented on #182
Ok, so thank you then. I'll try to add it into ctx.
(y)

[2017-04-06 07:00] #182 closed, assigned to nobody

[2017-04-12 17:24] caseyWebb opened #184 "update(..., { with }) not passed to descendents"

[2017-04-16 13:27] hoonzis opened #186 "Middleware on nested routes"
Hello,

I tried to add a middleware on nested routes in the following way, which does not work - the middleware function is not invoked.

[code]

I was able to get around this issue by adding a global middleware to the "asset" nested component:

[code]

In my case this works, but this assumes that you want the same middleware to be applied to all the sub-routes. So if someone needs path-dependent

[2017-04-16 21:16] hoonzis commented on #186
Nevermind, it actually works as expected with the following syntax:

[code]

the reason I wasn't getting any hits on the middleware was that I was missing the  <ko-component-router> tag in the component with the nested routing.

[2017-04-16 21:16] #186 closed, assigned to nobody

[2017-04-28 12:33] gandrisl opened #188 "Uncaught exception when navigating to a not registered path"
Issue appeared running "mvc" example application and maybe general issue of router. When navigating to not registered (i.e. _http://localhost:8080/mvc/#!/notexistingpath_) path following exception occurs:

mvc.js:23295 Uncaught (in promise) TypeError: Cannot match against 'undefined' or 'null'.
    at new User (mvc.js:23295)
    at Function.fetch (mvc.js:23316)
    at beforeRender (mvc.js:23856)

[2017-05-24 22:46] caseyWebb commented on #188
This is the expected behavior for non-existent routes.

That being said, if it's happening in one of the examples, *that* is a bug.

[2017-05-24 22:46] #188 closed, assigned to nobody

[2017-06-16 09:11] cosmoKenney commented on #165
What version of this module do I need to be on in order to get this enhancement? As far a I can tell, I'm running 4.4.4. Installed via "npm install ko-component-router --save"  But I don't see any reference to activePathCSSClass in the node_modules/ko-component-router/dist/ko-component-router.js.

[2017-06-16 14:48] caseyWebb commented on #165
@cosmoKenney try ko-component-router@next

[2017-06-16 17:18] cosmoKenney commented on #165
@caseyWebb, I tried that, but it tried to bring in a path-to-regexp version that webpack could not load. I.e. it threw:
_External module ''path-to-regexp'' has no default export._
So I rolled it back.

EDIT: webpack could not load the path-to-regexp brought in by ko-component-router@next

[2017-06-16 17:48] caseyWebb commented on #165
@cosmoKenney, I'd like this working for you using `next`. For all intents and purposes, it is the stable release. I've held off on publishing to ensure the api was totally stable, and it appears to be since we've been running in production for the past several months.

Could you hop into the [gitter](https://gitter.im/Profiscience/ko-component-router) channel to figure this one out?

[2017-06-17 00:05] cosmoKenney commented on #165
Oh shoot, I just saw this. My day is just about done. I'll hop on gitter on Monday. WebPack is giving me fits.

[2017-06-19 23:40] caseyWebb commented on #165
pinging @cosmoKenney 😉

[2017-06-20 00:06] cosmoKenney commented on #165
I'm over on gitter. But I'm not sure my problem is with the router or not yet.

[2017-08-18 15:15] FlorianBruckner opened #191 "Documentation issue"
There is a minor issue on the docs, that makes a big differenence though.

https://github.com/Profiscience/ko-component-router/blob/master/docs/middleware.md

says

...which is really just shorthand for...

[code]
But it is actually

[code]

Isn't it?

[2017-10-06 13:23] gandrisl opened #197 "@types/knockout is direct npm dependency rather than dev dependency"
package.json has invalid config "dependencies" contains @types/knockout package, but it should be in "devDependencies"

[2017-10-24 22:01] #191 closed, assigned to nobody

[2017-10-24 22:04] #197 closed, assigned to nobody

[2017-10-26 07:30] gandrisl opened #209 "isActivePath binding handler"
Would be nice to have binding handler like this:
[code]

[2017-10-26 15:28] caseyWebb commented on #209
This is a good idea.

Would you be willing to write a spec for this and submit a PR?

[2017-10-26 20:58] gandrisl commented on #209
I was unable to build the source. I get this error during a build:

[code]

[2017-10-27 00:14] caseyWebb commented on #209
Building requires Node 7.6 or above

[2017-10-27 21:07] #209 closed, assigned to nobody

[2017-11-08 20:04] sdalonzo opened #215 "ctx.element (or ctx.router.element) missing from ctx object in middleware"
Hey Casey,

We discussed this on your gitter and you asked me to make this issue. For context, I'm trying to use the example here: https://github.com/Profiscience/ko-component-router/wiki/Transition-Animations to integrate transitions, but the element property doesn't exist in the ctx. You noticed that it was removed from the source, but were not sure why.

Thanks for your help,
-steve

[2017-11-09 19:14] cosmoKenney commented on #215
Casey, just an FYI, there are dead links in the Transition-Animations page on the Wiki, too.

[2017-12-18 07:02] FlorianBruckner opened #216 "Base with query string"
When the base for an application is a URI with a query string, routing fails.

Router setup is like this:

[code]

The application can be navigated to with http://www.example.com/index.php?id=4711

If base is set to /index.php?id=4711, routing fails and hits the fallback route /*.

If base is set to /index.php, routing mostly works, but browser location is changed to http://www.example.com/index.p

[2017-12-18 17:24] caseyWebb commented on #216
This could probably be "fixed," but I'm not sure it's in the best interest, primarily because it would require supporting non-standard URI patterns (anything other than path + query + hash, even using hashbang routing, the client-side path should *not* be regarded the same as a hash). This isn't really a supported use-case or best practice for the way this router is designed.

I assume the issue i

[2017-12-18 17:52] FlorianBruckner commented on #216
Not sure we are on the same page. I do not need to pass in the parameter id into the app. This URL (http://www.example.com/index.php?id=4711) is the URL from which the SPA is sent to the client. Routes and navigation within the app will use hash (so something like http://www.example.com/index.php?id=4711#!/overview would navigate to the route /overview in the app).

So this is not about API calls

[2017-12-18 18:23] caseyWebb commented on #216
I'm following, but I'm still not sure this should be a supported use-case. The main issue is that, without hashbang routing, `/index.php?id=4711/overview` is not a valid URI (not to mention if you switch to HTML5 routing in the future, you'd have to manually parse the querystring on the server to strip out all of the extra client-side path information). In previous iterations, hashbang and popstat

[2017-12-18 19:24] FlorianBruckner commented on #216
Our use case is that we have an app that will be embedded onto a number of pages. One of them is in a legacy CMS that will not work with HTML5 routes. So any additional routing for inside the SPA should be in the hash (and even the leading slash is going to be a problem because that CMS would not find a page 4711/).

Because of this we have the Router.config.base configurable from the embedding pa

[2017-12-18 21:30] caseyWebb commented on #216
The joys of legacy code — I can empathize. Unfortunately I think you're correct that ko-component-router won't work in this case.

Out of curiosity, are you trying to embed the SPA in WordPress?

[2017-12-18 21:30] #216 closed, assigned to nobody

[2017-12-18 21:33] caseyWebb opened #217 "Generator middleware does not work with transpiled generators"
The code is currently checking the constructor name; in transpiled code, this is not "GeneratorFunction".

See the loading-animation example.

[2017-12-18 22:01] FlorianBruckner commented on #216
no, it is Typo3

[2017-12-18 22:34] caseyWebb commented on #215
Added back in [knockout-contrib](https://github.com/Profiscience/knockout-contrib) @ 33138340ebc2b506e27abae400088ff34133ee96

[2017-12-18 22:34] #215 closed, assigned to caseyWebb

[2017-12-18 22:36] #184 closed, assigned to nobody

[2017-12-18 22:59] caseyWebb commented on #217
Fixed in knockout-contrib

[2017-12-18 22:59] #217 closed, assigned to nobody